.bg-login-image, .bg-register-image {
    background-position: center!important;
    background-size: cover!important;
}

.bg-login-image {
    /* https://www.pexels.com/photo/unrecognizable-person-walking-pack-of-dogs-in-park-7210535/ */
    background: url("../img/login.jpg")!important;
}

.bg-register-image {
    /* https://www.pexels.com/photo/a-young-woman-walking-a-group-of-dogs-in-a-park-7210524/ */
    background: url("../img/register.jpg")!important;
}


/* https://mdbootstrap.com/docs/standard/extended/chat/ */
.badge-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 2.9rem;
    margin-top: -.75rem;
}

.avatar {
    width: 60px;
    border-radius: 100px;
}

.custom-height {
    height: 75vh;
    overflow-y: scroll;
}

.hide, .hide * {
    display: none !important;
}